html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: grid;
    grid-template-rows: 50px 1fr 40px;
    min-height: 100%;
    background-color: white
}

/* Header */
header {
    grid-row: 1;
    background-color: #eaeded;
    box-shadow: 0px 1px 18px #b1b0b0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    margin-left: 10px;
    flex: 1;
}
.nav-right  {
    margin-right: 20px;
    display: flex;
    gap: 15px;
}

.home-page-link, .authenticaiton-link, .profile-page-link {
    text-decoration: none;
    padding: 6px;
    font-size: 2rem;
    color: black;
}

.home-page-link:hover, .authenticaiton-link:hover, .profile-page-link:hover {
    color: gray;
}

/* Login and Registration Container */
.login-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-p, .change-auth-p {
    display: flex;
    font-weight: bold;
}
.error-p {
    color: #da3232;
}
.input-card, .input-card input {
    width: 100%;
}

.login-register-container button {
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #e2dfdf;
    background-color: white;
    color: black;
    transition-duration: 0.2s;
    cursor: pointer;

}
.login-register-container button:hover {
    background-color: #e7e7e7;
}
.login-register-container hr {
    margin-top: 20px;
    width: 100%;
}
/* Smartphones */
@media only screen and (max-width: 479px){ 
    .login-register-container {
        width: 300px;
    }
    .error-p, .change-auth-p {
        max-width: 300px;
    }
    .change-auth-p {
        margin-top: 10px;
    }
    .login-register-container h2 {
        font-size: 1.5rem;
    
    }
    .input-card label {
        font-size: 1rem;
    }
    .input-card input {
        font-size: 1rem;
        line-height: 1.2;
    }
    .login-register-container button {
        margin-top: 10px;
        padding: 13px 20px 13px 20px;
    } 
}

/* SMARTPHONES LANDSCAPE and SMALLER TABLETS*/
@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .login-register-container {
        width: 470px;
    }
    .error-p, .change-auth-p {
        max-width: 400px;
        font-size: 1.5rem;
    }
    .error-p {
        margin-bottom: 20px;
    }
    .change-auth-p {
        margin-top: 30px;
    }
    .login-register-container h2 {
        font-size: 2rem;
    
    }
    .input-card {
        max-width: 400px;
    }
    .input-card label {
        font-size: 1.5rem;
    }
    .input-card input {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    
    .login-register-container button {
        margin-top: 10px;
        padding: 17px 20px 17px 20px;
    }  
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .login-register-container {
        width: 560px;
    }
    .error-p, .change-auth-p {
        max-width: 450px;
        font-size: 1.5rem;
    }
    .error-p {
        margin-bottom: 20px;
    }
    .change-auth-p {
        margin-top: 30px;
    }
    .login-register-container h2 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
    .input-card {
        max-width: 450px;
    }
    .input-card label {
        font-size: 1.2rem;
    }
    .input-card input {
        font-size: 1.0rem;
        line-height: 1.3;
    }
    .login-register-container button {
        font-size: 1rem;
        margin-top: 10px;
        padding: 18px 28px 18px 28px;
    }
}


@media only screen and (min-width: 992px) { 
    .login-register-container {
        width: 560px;
    }
    .error-p, .change-auth-p {
        display: flex;
        max-width: 450px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .error-p {
        margin-bottom: 20px;
    }
    .change-auth-p {
        margin-top: 30px;
    }
    
    .login-register-container h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    
    }
    .input-card {
        max-width: 450px;
    }
    
    .input-card label {
        font-size: 1.5rem;
    }
    
    .input-card input {
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.4;
    }
    
    .login-register-container button {
        font-weight: bold;
        font-size: 1rem;
        margin-top: 10px;
        padding: 22px 37px 22px 37px;
        border-radius: 10px;
        border: 1px solid #e2dfdf;
        background-color: white;
        color: black;
        transition-duration: 0.2s;
        cursor: pointer;
    
    }
    
    .login-register-container button:hover {
        background-color: #e7e7e7;
    }
    
    .login-register-container hr {
        margin-top: 20px;
        width: 100%;
    }   
}

/* Main */
main {
    grid-row: 2;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.search-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    border-radius: 8px;
    border: 1px solid gray;
    width: 300px;
    padding: 5px 5px;
    margin-right: 5px;
}

.search-button {
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #e2dfdf;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-right: 30px;
}
.search-button:hover {
    background-color: #e7e7e7;
}
.search-label {
    margin-right: 2px;
}

.recipe-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 15px;
    max-width: 100%;        
}

.recipe-list-container a {
    text-decoration: none;
    color: black;
}

.recipe-item {     
    height: 300px;
    width: 300px;      
    background-color: #f8fafa;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 8px;
    overflow: hidden;

}


.recipe-item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}


.recipe-info-container {
    width: 100%;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}


.recipe-info-container h3 {
    font-size: 1.1rem;
    margin-bottom: 2px;
    font-weight: bold;
    white-space: nowrap;
}

.prep-info-and-button-container  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.preparation-info-container  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.preparation-info-container p {
    display: flex;
    align-items: center;
    overflow: hidden;

}
.preparation-info-container p svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.recipe-info-container div button {
    padding: 15px 25px 15px 25px;
    border: none;
    background-color: #e7e7e7;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.recipe-info-container div button:hover {
    background-color: #dedede;
}

.list-page {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list-page svg {
    height: 30px;
    width: 30px;
}

/* Recipe Details component */
.recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    background-color: #eaeded;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 0px 18px #888888;
}

.recipe-header-container {
    display: flex;
    padding: 10px 10px 10px 30px;
    height: auto;
    margin-bottom: 20px;
}

.recipe-header-container img {
    height: 100%;
    width: 60%; 
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.recipe-header-container div {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 40%; 
}

.recipe-header-container div h2 {
    word-wrap: break-word;
    font-size: 1.5rem; 
}

.recipe-header-container div p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 5px 0; 
}

/* Ingredients and Instructions containers */
.ingredients-insutrctions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.ingredients-card, .instructions-card {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 0px 30px;
    border-radius: 10px;
    margin-bottom: 15px; 
}

.ingredients-card h3, .instructions-card h3 {
    align-self: center;
    font-size: 1.2rem; 
    margin-bottom: 10px;
}

.ingredients-card ol, .instructions-card ol {
    list-style-position: inside;
    padding-left: 20px; 
    margin: 0;
    font-size: 1rem; 
    line-height: 1.5;
}



/* Profile and Saved Recipes container */
.profile-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.profile-h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.profile-container svg {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.profile-h3 {
    display: flex;
    align-items: center;
}

.profile-button {
    margin: 10px 0px 30px 0px;
    padding: 15px 25px 15px 25px;
    border: none;
    background-color: #fd0101;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

}

/* Saved Recipes empty card */
.empty-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.empty-card a {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 13px 20px 13px 20px;
    border-radius: 10px;
    border: 1px solid #e2dfdf;
    background-color: white;
    transition-duration: 0.2s;
}

.empty-card a:hover {
    background-color: #e7e7e7;
}

/* Footer */
footer{
    background-color: #eaeded;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 3;

}


